*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
*-cache.lib
*-rescue.lib
*-rescue.dcm
fp-info-cache

*.net
*.dsn
*.ses

shape/sources/
case/sources/
pcb/PNCATEHO_lib/kicad-packages3D/
pcb/pcb_PNCATEHO_rgb/gerber/
pcb/pcb_PNCATEHO/gerber/

plate/pcb/gerber/