*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
*-cache.lib
*-rescue.lib
*-rescue.dcm
fp-info-cache

*.net
*.dsn
*.ses

case/case.stl

pcb/shape/sources/
case/sources/
plate/cutting/sources/

pcb/PNCATEHO_lib/kicad-packages3D/
plate/pcb/plate_lib

pcb/PNCATEHO_rgb/gerber/
pcb/PNCATEHO/gerber/
plate/pcb/gerber/

