*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*-cache.lib
*.kicad_prl
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*.round-tracks-config
*-save.pro
*-save.kicad_pcb
*-cache.lib
*-rescue.lib
*-rescue.dcm
desktop.ini
fp-info-cache
fp-lib-table
sym-lib-table

*.net
*.dsn
*.ses
*.stl
Devlog.md
*-backups
*/sources/
*sources/
*gerber/
*_bak


pcb/PNCATEHO_lib/kicad-packages3D/
plate/pcb/plate_lib


Devlog.md
pcb/PNCATEHO/fp-lib-table
pcb/PNCATEHO/fp-lib-table
pcb/PNCATEHO/fp-lib-table
